.z-50 {
    z-index: 50;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .border-b-0 {
    border-bottom-width: 0;
  }
  
  .md\:border-b-2 {
    border-bottom-width: 2px;
  }
  
  .xl\:border-b-2 {
    border-bottom-width: 2px;
  }
  
  .border-gray-200 {
    border-color: #e2e8f0;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  .relative {
    position: relative;
  }
  
  .items-center {
    align-items: center;
  }

.h-10 {
    height: 2.5rem;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .w-2-12 {
    width: 16.666667%;
  }
  
  .w-3-12 {
    width: 25%;
  }
  
  .w-2-12 {
    width: 16.666667%;
  }
  
  .text-gray-500 {
    color: #a0aec0;
  }
  
  .ml-4 {
    margin-left: 1rem;
  }
  
  .bg-blue-500 {
    background-color: #4299e1;
  }
  
  .md\:visible {
    display: block;
  }
  
  .xl\:visible {
    display: block;
  }
  
  .border-1 {
    border-width: 1px;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter;
  }
  
  .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hover\:shadow-md:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  